# Set target to ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# Audio processing often benefits from a 1000Hz RTOS tick rate
CONFIG_FREERTOS_HZ=1000

# Enable PSRAM (M5StickS3 has 8MB Octal PSRAM)
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y

# Set Flash Size to 8MB (M5StickS3)
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
